body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  body>#root {
    width: 100%;
    height: 100%;
  }
  