.profile-item-wrapper {
    display: flex;
    gap: 12px;
    padding: 6px 0px;
    align-items: center;
}

.profile-item-text {
    flex-grow: 1;
}

.profile-item-buttons-wrapper {
    display: flex;
    gap: 6px;
}

.profile-item-button {
    border: none;
    border-radius: 6px;
    background-color: var(--color-orange);
    color: rgb(255, 255, 255);
    padding: 6px;
    min-width: 100px;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
}

.profile-item-button:hover {
    filter: brightness(0.85);
}

.profile-answer-wrapper { 
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-hover-grey);
    padding-bottom: 3px;
}

.profile-answer-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-answer-text {
    flex-grow: 1;
    text-align: start;
    color: var(--color-dark-grey);
}

.profile-answers-wrapper {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.profile-item-text {
    font-weight: 600;
    color: var(--color-dark-grey);
}