#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-grey);
    height: 140px;
}

#header-search-form {
    position: absolute;
    right: 10%;
}

#header-search-bar {
    min-height: 32px;
    max-width: 160px;
    font-size: 1.5rem;
}