html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body>#root {
  min-height: 100%;
  height: 100%;
}