.new-questions-page-wrapper {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    height: 620px;
    overflow-y: scroll;
}

.new-questions-page-titles {
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 6px 0px;
}

.new-questions-page-subtitles {
    display: flex;
    font-size: 1rem;
    font-style: italic;
    padding: 3px;
}

.new-questions-page-important {
    color: var(--color-red);
}

.new-questions-page-textboxes {
    padding: 6px 0px;
    border: 2px solid var(--color-invert-primary);
    width: 100%;
    font-size: 0.75rem;
}

.new-questions-page-error-message {
    padding: 6px 0px;
    color: var(--color-red);
}

.new-questions-page-footer {
    display: flex;
    justify-content: space-between;
    padding: 36px 0px;
}

.post-question-button {
    font-size: 1rem;
    padding: 16px 16px;
    border: 2px solid var(--color-invert-primary);
    border-radius: 0px;
    background-color: var(--color-light-blue);
    color: rgb(255, 255, 255);
}

.new-questions-page-bottom-text {
    display: flex;
    align-items: center;
    font-size: 16px;
}