.content-wrapper {
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
}

.card {
    min-height: min-content;
    min-width: 356px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--color-blue);
    border-radius: 15px;
    gap: 32px;
    padding: 48px;
}

.card>form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.card>form>input {
    height: 36px;
    width: 180px;
    border: 1px solid var(--color-grey);
    border-radius: 6px;
}

.card button {
    background-color: var(--color-blue);
    color: white;
    height: 36px;
    border: 0px;
    border-radius: 6px;
    min-width: 100px;
}

.wrong-input {
    opacity: 0;
    color: red;
    text-wrap: wrap;
    text-align: center;
}

.visible {
    opacity: 1;
}

.card button:hover {
    opacity: 0.5;
}